<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
<!-- <properties resource="db.properties"></properties> -->

<!-- 주 요 설 정 ! -->
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
	<setting name="callSettersOnNulls" value="true"/>  <!-- map에 put하는 값이 null일때 할지 말지 , true : null이라두 담아줘라. -->
<!-- 	<setting name="mapUnderscoreToCamelCase" value="false"/>  카멜표기 프로퍼티 이름과 자동 맵핑 (부하가 있음) 필요할때만 설정 -->

</settings>

<typeAliases>
<typeAlias type="kr.or.nextit.member.model.Member" alias="Member"/>
<typeAlias type="kr.or.nextit.board.model.Board" alias="Board"/>
<typeAlias type="kr.or.nextit.common.file.model.FileItem" alias="FileItem"/>
</typeAliases>

<!--   <environments default="development"> -->
  
  
<!--     <environment id="development"> -->
<!--       <transactionManager type="JDBC"/> JDBC/MANAGED -->
<!--       <dataSource type="POOLED"> -->
<!--         <property name="driver" value="${driver}"/> -->
<!--         <property name="url" value="${url}"/> -->
<!--         <property name="username" value="${username}"/> -->
<!--         <property name="password" value="${password}"/> -->
<!--       </dataSource> -->
<!--     </environment> -->
  
  
<!--   </environments> -->


<!--   <mappers> -->
<!--     <mapper resource="mapper/MemberMapper.xml"/> file path 이므로 슬러시 -->
<!--     <mapper resource="mapper/BoardMapper.xml"/> file path 이므로 슬러시 -->
<!--     <mapper resource="mapper/CommonMapper.xml"/> file path 이므로 슬러시 -->
<!--     <mapper resource="mapper/FileItemMapper.xml"/> file path 이므로 슬러시 -->
<!--   </mappers> -->


</configuration>